<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
</head>
<body>
    <div class="header">
      <a href="/home" style="color: red; font-size: 20px; padding: 20px; margin-top: 50px; margin-left: 1100px;">Back Home</a>
      <a href="/logout" style="color: red; margin-left: 20px; font-size: 20px;">Logout</a>
      <h1 style="margin-left: 450px; font-size: 20px; color: red; margin-top: 20px;">Welcome! Here you can create your own personalized card!</h1>
      <br>
    </div>
    
    <div class="card">
      {% if specific %}
      <img style="width: 400px; margin-left: 500px;" src="https://res.cloudinary.com/dnwhdkhgg/image/upload/v{{card.img.version}}/{{card.img.public_id}}.{{card.img.format}} " alt="{{card.name}}" id="img-preview"/>
      {% else %}
      <img style="width: 400px; margin-left: 500px;" src="{% static 'recent1.jpg' %}" id="img-preview"/>
      {% endif %}
        <form action="/review/{{card.id}}" runat="server" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div id="upload">
            <label class="file-upload-container" for="file-upload">
            <input id="file-upload" type="file" style="display:none;" name="media">
              Select Your Own Image
            </label>
          </div>
          <div id="success"></div>
          <h2 style="color: red; margin-left: 500px; width: 396px; display: inline-block; background-color: yellow; text-align: center;  margin-top: -100px; margin-bottom: 0px; border: 2px solid red;">
            Greeting Here:
          </h2>
          <textarea cols="47" rows="10" name="greet_text" placeholder="Enter Your Greeting Here" style="margin-left: 500px; display: block; margin-top: 0px; width: 393px;"></textarea>
          <button type="submit" style="margin-left: 550px; margin-top: 10px;">Review Your Card</button>
        </form>
    </div>
    <div class="add_song">
      <h3>Add a song to your card</h3>
      <table class="table-dark">
        <thead>
            <tr>
                <th>Title</th>
                <th>Song</th>
                <th>Add Song</th>
            </tr>
        </thead>
        <tbody>
          {%for song in songs%}
            <tr>
                <td>{{song.name}}</td>
                <td>
                  <audio controls style="width: 88px;">
                    <source  src="https://res.cloudinary.com/dnwhdkhgg/video/upload/v{{song.aud.version}}/{{song.aud.public_id}}.{{song.aud.format}}" type="audio/mpeg"  >
                  </audio>
                </td>
                <td><input type="radio" name="song_id" value={{song.id}}></td>
            </tr>
          {%endfor%}
        </tbody>
    </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
      function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
            $('#img-preview').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
        }

        $("#file-upload").change(function() {
        readURL(this);
        });
    </script>
</body>
</html>