<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holiday Greetings</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="topnav" style="display: inline-flex; margin-bottom: 30px;">
        <h1 class="welcome" style="text-decoration: underline; color: red; margin-left: 20px;">
            Welcome {{request.session.user_name}}!</h1>
        <form class="example" action="action_page.php" style="margin-left: 650px;">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <a href="/logout" style="font-size: 20px; color: red; margin-left: 20px;">Logout</a>
    </div>
    <a href="/create" style="font-size: 25px; color: red; margin-left: 600px;">Make Your Own Holiday Card</a>
    <div class="recent">
        <h2 style="text-decoration: underline;">Recently Added</h2>
        <img src="{% static 'recent1.jpg' %}" style="width: 300px; display: inline-block; margin-right: 30px;"/>
        <img src="{% static 'recent2.jpeg' %}" style="width: 300px; display: inline-block; margin-right: 30px;"/>
        <img src="{% static 'recent3.jpg' %}" style="width: 300px; display: inline-block; margin-right: 30px;"/>
        <a href="/recent" style="font-size: 20px; color: red; margin-right: 10px; vertical-align: top;">View All Recent</a>
    </div>
    <div class="trending">
        <h2 style="text-decoration: underline;">Trending Now</h2>
        <img src="{% static 'trending1.jpg' %}" style="width: 300px; display: inline-block; margin-right: 30px; height: 212px;"/>
        <img src="{% static 'trending2.jpg' %}" style="width: 300px; display: inline-block; margin-right: 30px; height: 212px;"/>
        <img src="{% static 'trending3.jpg' %}" style="width: 300px; display: inline-block; margin-right: 30px;"/>
        <a href="/trending" style="font-size: 20px; color: red; margin-right: 10px; vertical-align: top;">View All Trending Now</a>
    </div>
    <div class="allcards">
        <h2 style="text-decoration: underline;">A-Z Cards</h2>
        <img src="{% static 'all1.jpg' %}" style="width: 300px; display: inline-block; margin-right: 30px; height: 212px;"/>
        <img src="{% static 'all2.jpg' %}" style="width: 300px; display: inline-block; margin-right: 30px; height: 212px;"/>
        <img src="{% static 'all3.jpg' %}" style="width: 300px; display: inline-block; margin-right: 30px; height: 212px;"/>
        <a href="/a-z" style="font-size: 20px; color: red; margin-right: 10px; vertical-align: top;">View All Cards</a>
    </div>
    <div class="fa">
        <ul>
            <li><i class="fab fa-facebook-f" style="margin-left: 12px;"></i></li>
            <li><i class="fab fa-instagram" style="margin-left: 12px;"></i></li>
            <li><i class="fab fa-youtube" style="margin-left: 12px;"></i></li>
        </ul>
    </div>
    <embed src="{% static 'rudolph.mp3' %}" width="180" height="90" loop="false" autostart="false" hidden="true" />
</body>

</html>