<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="logo">
        <img src="{% static 'holgtngswflks_logo.png' %}" >
    </div>
    <div class="greeting">
        <h1 >Welcome to Holiday Greetings!!</h1>
    </div>
    <div class="content">
        <p>
            In this tough times we believe that a friendship or family relationship can make a difference, knowing that
            we are not alone in this can give us the positive attitude we all need and nothing better that sending a
            little detail to those loved ones. Here you can send holiday greetings by selecting one of our cards or
            videos, you can upload your own image or video, add a personalized greeting and sending it directly just by
            adding some information. 
            <br>
            <br>
            <a href="/login_reg" style="color: yellow;">JOIN US</a> and start creating Holiday
            Greetings!</p>
    </div>
    <div class="fa">
        <ul>
            <li><i class="fab fa-facebook-f" style="margin-left: 12px;"></i></li>
            <li><i class="fab fa-instagram" style="margin-left: 12px;"></i></li>
            <li><i class="fab fa-youtube" style="margin-left: 12px;"></i></li>
        </ul>
    </div>
    <embed src="{% static 'wish.mp3' %}" width="180" height="90" loop="false" autostart="false" hidden="true" />
</body>

</html>