body {
    background-image: url("happyholidays.jpg");
    background-size:contain;
    /* background-repeat: no-repeat; */
}
#img-preview {
    width: 400px;
    display: inline-block;
    margin-left: 320px;
}
.greeting {
    display: inline-block;
    width: 400px;
    height: 244px;
    border: 3px dotted black;
    vertical-align: top;
    text-align: center;
    font-size: 20px;
    background: rgba(128, 128, 128, 0.205);
    color: red;
}
#comment {
    margin:auto;    
    text-align: center;
}
#button {
    display: block;
    width: 150px;
    height: 35px;
    background: #4E9CAF;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    box-shadow: 5px 5px darkblue;
    margin:auto;
}